/* -------------------------------- 

Primary style

-------------------------------- */
::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
}

::selection {
    color: white; 
    background: #DADFE1;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: rgba(2, 23, 37, 0.7);
  background-color: white;
}
body.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden;
}

a {
  text-decoration: none;
}

i {
    font-style: italic;
}

b {
	font-style: bold;
}
p {
	font-size: 100%;
}
h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1rem;
}

h4 {
	font-size: 0.9rem;
}

h5 {
	font-size: 0.8rem;
}

h6 {
	font-size: 0.7rem;
}
