.portfolio {
    padding: 0;
    list-style: none;
	.flex-display();
	.justify-content(space-between);
	.flex-wrap(wrap);
}

.portfolio-item {
	width: 47%;
	// margin-bottom: 5%;
	margin-bottom: 2rem;
	// .transition(.3s);
}
.portfolio-item span{
// .portfolio-item a{
	display: block;
	position: relative;
	.clearfix();
}
.portfolio-item video {
	// position: absolute;
	// top: 0;
	// left: 0;
	// width: 100%;
	// height: 100%;

	width: 100%;
	float: left;
	border: 2px solid transparent;
    box-sizing: border-box;
}
.portfolio-itemBorder {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 90;
	border: 2px solid transparent;
	box-sizing: border-box;
	.transition(.3s);
}
.portfolio-itemImage { 
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    z-index: 80;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;

   	// img {
   	// 	max-width: 100%;
   	// 	position: relative;
   	// 	float: left;
   	// }
}
.portfolio-itemImage-touch {
	display: none;
	max-width: 100%;
}

.portfolio-itemExternalLink {
	text-decoration: none;
	font-size: 0.6rem;
	margin-top: 0.2rem;
	display: inline-block;
	opacity: 0.5;
}




/* STATES */


// .portfolio-item a:hover {
.portfolio-item span:hover {
	opacity: 1;
	.transition(.3s);
	
	.portfolio-itemBorder {
		border-color: blue;
	}
	.portfolio-itemImage {
		opacity: 0;
		.transition(.3s);
	}
}

.portfolio-itemExternalLink:hover {
	opacity: 1;
}


/* ON TOUCH DEVICE */
.touch {
	.portfolio-item video {
		display: none;
	}

	// .portfolio-item a:hover {
	.portfolio-item span:hover {
		.portfolio-itemImage {
			opacity: 1;
		}
	}
	.portfolio-itemImage-touch {
		display: block;
	}
	.portfolio-itemBorder {
		display: none;
	}	
}

/* BREAKPOINTS */

@media screen and (max-width: 856px) {
	.portfolio-item {
		width: 100%;
		margin-bottom: 1.5rem;
	}
}

// @media screen and (max-width: 600px) {
// 	.portfolio-item {
// 	}
// }
